/* button group for toggling between graphs */
.buttonGroup {
    margin-top: 10px;
}

/* expenses chart header */
.ant-typography.chartHeader {
    color: rgba(51, 51, 51, 0.75);
}

/* card with line chart */
.lineChart {
    background-color: #ffffff;
    margin-top: 24px;
}