/* button group for toggling between graphs */
#buttonGroup {
    margin-top: 5px;
}

/* expenses title */
h2.ant-typography {
    color: rgba(51, 51, 51, 0.75);
}

/* card with line graph */
.lineGraph {
    background-color: #ffffff;
    margin: 24px;
    width: 500px;
}