/* summary card */
.summary {
    text-align: left;
    margin-top: 16px;
}

/* summary card body */
.summary .ant-card-body {
    padding: 16px 24px;
}

/* title */
.title {
    color: rgba(51, 51, 51, 0.75);
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* amount */
.amount {
    color: rgba(51, 51, 51, 0.75);
    font-size: 28px;
    margin-bottom: 0;
}

/* percent change and icon row */
.percent-icon {
    margin-top: 5px;
}

/* percent change */
.percent {
    font-weight: bold;
    display: inline;
    margin-left: 5px;
    margin-top: 10px;
}

/* icon */
.anticon {
    font-size: 16px;
}