/* add transaction */
.add-transaction {
    text-align: left;
}

/* add transaction form items */
.add-transaction > .ant-form > .ant-row {
    margin-bottom: 0;
}

/* date picker */
.ant-calendar-picker {
    width: 100%;
}

/* list of transactions */
.transactions-list {
    text-align: left;
    margin-bottom: 16px;
    margin-top: 16px;
}