/* root */
div#root {
    height: 100%;
}

/* content layout */
.ant-layout {
    height: 100%;
}

/* accounts card */
#accounts {
    margin-top: 8px;
}

/* card body */
#accounts div.ant-card-body {
    padding: 24px;
    text-align: left;
}

/* credit card */
#credit {
    margin-bottom: 16px;
}

/* card head and card head title */
#credit .ant-card-head,
#depository .ant-card-head,
#credit .ant-card-head-title,
#depository .ant-card-head-title {
    padding: 0;
}

/* card headers */
#credit h2,
#depository h2 {
    color: rgba(51, 51, 51, 0.75);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
}

/* card body */
#credit div.ant-card-body,
#depository div.ant-card-body {
    padding: 0;
}

/* account names and amount */
#credit h1,
#depository h1 {
    color: rgba(51, 51, 51, 0.75);
    font-size: 18px;
    margin-bottom: 0;
}

/* account official names */
#credit small,
#depository small {
    color: rgba(51, 51, 51, 0.4);
    font-size: 12px;
}

/* loading skeleton */
.ant-skeleton {
    padding: 0 24px;
}