body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* main content layout */
main.ant-layout-content {
    padding: 0 16px 16px 16px;
    min-width: 770px;
}

/* card headers */
h2.ant-typography {
    color: rgba(51, 51, 51, 0.75);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
}

/* card body */
.ant-card-body {
    padding-top: 5px;
}

/* transactions */
.transactions {
    text-align: left;
    margin-top: 16px;
}

/* transactions card header */
.transactions .ant-typography {
    padding-top: 3px;
}

/* transactions card body */
.transactions .ant-card-body {
    padding-bottom: 5px;
    margin-bottom: 16px;
}

/* edit transactions selection cells */
.ant-select.ant-select-enabled.ant-select-allow-clear {
    width: 100%;
}

/* hover on transactions table row */
.ant-table-tbody > tr.ant-table-row.ant-table-row-level-0:hover > td {
    background-color: rgba(104, 145, 229, 0.1);
}

/* add transaction */
.add-transaction {
    text-align: left;
}

/* date picker */
.ant-calendar-picker {
    width: 100%;
}

/* card with doughnut chart */
.doughnutChart {
    background-color: #ffffff;
    margin-top: 16px;
}

/* card with line chart */
.lineChart {
    background-color: #ffffff;
    margin-top: 16px;
}

/* summary card */
.summary {
    text-align: left;
    margin-top: 16px;
}

/* card amount */
.amount {
    color: rgba(51, 51, 51, 0.75);
    font-size: 28px;
    margin-bottom: 5px;
}

/* percent change */
.percent {
    font-weight: bold;
    display: inline;
    margin-left: 5px;
    margin-top: 10px;
}

/* card title */
.title {
    color: rgba(51, 51, 51, 0.75);
    letter-spacing: 1px;
    text-transform: uppercase;
}